<div id="About"  class="backColor">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<div style="padding-left:30px; padding-right:30px; overflow:hidden" class="backColor">
    <br />
    <legend  class="lgFont"><i class="fa fa-lg fa-info-circle" aria-hidden="true"></i>  About Us</legend>
 

    <div class="mdFont col-xs-12 col-sm-6">
        <p>
            {{$root.pageModel.homePage.aboutUsTxt}}
       </p>
       
    </div>
    <p class="mdFont col-xs-12 col-sm-6">
        <img class="ui large rounded image" src="{{$root.pageModel.homePage.aboutUsStoreImg}}" style="width:100%;" />
        </p>


    <div id="categories" style="width:100%;padding:10px;" class="col-xs-12" ng-show="$root.pageModel.homePage.specialties.length > 0">
        <br />
        <legend class="lgFont"><i class="fa fa-lg fa-star" aria-hidden="true"></i>  Our Specialties</legend>
         <br />
        <div class="row">
            <center>
                <div class="col-sm-3 col-xs-6 showTooltip" ng-repeat="spec in $root.pageModel.homePage.specialties">
                    <div class="toolTip">
                        <h2>{{spec}}</h2>
                    </div>
                    <img class="imgCat" ng-src="/images/{{spec}}.png" />
                </div>
            </center>
        </div>
    </div>
</div>
 