<div  id="accountPage"></div>
<br />
<br />
<br />
<br />
<div style="padding-left:30px; padding-right:30px; overflow:hidden">
    <!--https://cdn-user.dealerrater.com/uimages/5649/main-5649-95c3b8782ce0_large.jpg-->
    <br /><br /><br />

   <p class="mdFont" style="background-color:#F1F1F1; padding:4px;">
        Welcome {{$root.loggedInUser.name}}, <br />
        Below you can view your account information and appointments.
    </p>
  
    <br /><br /><br />

    <legend class="lgFont"><i class="fa fa-lg fa-address-card-o" aria-hidden="true"></i>  My Information</legend>


         <div class="col-xs-12 mdFont" style="line-height:35pt;">
            <div class="col-xs-12 col-sm-6">
                Email: {{$root.loggedInUser.email}} 
            </div>
            <div class="col-xs-12 col-sm-6">
                Full Name: {{$root.loggedInUser.name}} <a href="#" class="smFont">(edit)</a>

            </div>
             <div class="col-xs-12 col-sm-6">
               
                 Password: ********* <a href="#" class="smFont">(edit)</a>

             </div>
          
            <div class="col-xs-12 col-sm-6">
                Phone No: {{$root.loggedInUser.number}} <a href="#" class="smFont">(edit)</a>

            </div>
             <div class="col-xs-12">
                 <br /><br />
             </div>
         </div>
 

    <legend class="lgFont"><i class="fa fa-lg fa-calendar-check-o" aria-hidden="true"></i>  My Appointments</legend>

    <table class="responstable">
        <thead>
            <tr class="text-center">

                <th>Date</th>
                <th>Time</th>
                <th>Employee/Slot #</th>
                <th>Cancel</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01/21/2018</td>
                <td>2:00 PM</td>
                <td>Eric Johnson</td>
                <td>
                    <button class="ui inverted red labeled icon button">
                        <i class="ban icon"></i>
                        Cancel
                    </button>
                </td>
                <td>
                    <button class="ui inverted green labeled icon button">
                        <i class="edit icon"></i>
                        Edit
                    </button>
                </td>
            </tr>
            <tr>
                <td>01/21/2018</td>
                <td>2:00 PM</td>
                <td>Eric Johnson</td>
                <td>
                    <button class="ui inverted red labeled icon button">
                        <i class="ban icon"></i>
                        Cancel
                    </button>
                </td>
                <td>
                    <button class="ui inverted green labeled icon button">
                        <i class="edit icon"></i>
                        Edit
                    </button>
                </td>
            </tr>
            <tr>
                <td>01/21/2018</td>
                <td>2:00 PM</td>
                <td>Eric Johnson</td>
                <td>
                    <button class="ui inverted red labeled icon button">
                        <i class="ban icon"></i>
                        Cancel
                    </button>
                </td>
                <td>
                    <button class="ui inverted green labeled icon button">
                        <i class="edit icon"></i>
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <br /><br /><br />

    <br /><br /><br />

    <br /><br /><br />

</div>
 