<div  id="accountPage"></div>
<br />
<br />
<br />
<br />
<div style="padding-left:30px; padding-right:30px; overflow:hidden">
    <!--https://cdn-user.dealerrater.com/uimages/5649/main-5649-95c3b8782ce0_large.jpg-->
    <br /><br /><br />

   <p class="mdFont" style="background-color:#F1F1F1; padding:4px;">
        Welcome {{$root.loggedInUser.name}}, <br />
        Below you can view your account information and appointments.
    </p>
  
    <br /><br /><br />

    <legend class="lgFont"><i class="fa fa-lg fa-address-card-o" aria-hidden="true"></i>  My Information</legend>


         <div class="col-xs-12 mdFont" style="line-height:35pt;">

             <div class="col-xs-12 col-sm-6">
                 <div class="ui special cards">

                     <a class="blue card homePageSlide">
                         <div class="blurring dimmable small image">
                             <div class="ui dimmer">
                                 <div class="content">
                                     <div class="center">
                                         <button class="ui inverted blue labeled icon button" onclick="$('#imgUpload').trigger('click')">
                                             <i class="upload icon"></i>
                                             Replace
                                         </button>

                                     </div>
                                 </div>
                             </div>

                             <img id="userPic" ng-src="{{'/images/'+$root.myID + '.jpg'}}" class="myImgHeight">
                         </div>
                     </a>
                     </div>
                 </div>
             <input type="file" id="imgUpload" style="display:none;" onchange="angular.element(this).scope().FileChanged(this)" accept="image/*" />

            <div class="col-xs-12 col-sm-6">
                <div class="col-xs-12">
                    <br /> 
                </div>
                <div class="col-xs-12">
                    <p>Email: {{$root.loggedInUser.email}} </p>
                    <p></p>
                </div>

                <div class="col-xs-7">
                    <p>Full Name: {{$root.loggedInUser.name}}</p>
                    <p></p>
                </div>
                <div class="col-xs-5">
                    <p></p>
                </div>

                <div class="col-xs-7">
                    <p>Password: *********</p><p></p>

                </div>
                <div class="col-xs-5">
                    <p></p>
                </div>

                <div class="col-xs-7">
                    <p>Phone No: {{$root.loggedInUser.number}}</p><p></p>

                </div>
                <div class="col-xs-5">
                    <p></p>
                </div>
                <div class="col-xs-12">
                    <br /> <center>
    <button class="ui inverted blue labeled icon button" onclick="$('.ui.edit.modal').modal({ blurring: true }).modal('show')">
        <i class="edit icon"></i>
        Update Information
     </button>
</center></div>            
            </div>

            
 

             <div class="col-xs-12">
                 <br /><br />
             </div>
         </div>
 


    <div id="owModal" class="ui edit modal">
        <i class="close icon"></i>
        <div class="header">
            Update Information
        </div>
        <div class="content" style="height:300px;">
                <div class="col-xs-12 col-sm-4">
                    <div class="ui styled accordion">
                        <div class="title editUsertTitle">
                            Change Name
                        </div>
                        <div class="content">
                            <div class="form-group">
                                <input ng-model="fullName" tabindex="1" class="form-control" placeholder="Full Name" value="">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="ui styled accordion">
                        <div class="title editUsertTitle">
                            Change Number
                        </div>
                        <div class="content">
                            <div class="form-group">
                                <input ng-model="phoneNumber" tabindex="1" class="form-control" placeholder="Phone Number" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="ui styled accordion">
                        <div class="title editUsertTitle">
                            Change Password
                        </div>
                        <div class="content">
                            <div class="form-group">
                                <input type="password" ng-model="curPass" tabindex="1" class="form-control" placeholder="Current password" value="">
                            </div>    <br />

                            <div class="form-group">
                                <input type="password" ng-model="newPass" tabindex="1" class="form-control" placeholder="New password" value="">
                            </div>    <br />

                            <div class="form-group">
                                <input type="password" ng-model="confNewPass" tabindex="1" class="form-control" placeholder="Confirm new password" value="">
                            </div>    <br />
                        </div>
                    </div>

                </div>
                <br /><br />
            </div>
 
         <div class="actions">
            <div class="ui black deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button" ng-click="SaveEdit()">
                Save
                <i class="save icon"></i>
            </div>
        </div>
    </div>






    <legend class="lgFont"><i class="fa fa-lg fa-calendar-check-o" aria-hidden="true"></i>  My Appointments</legend>

    <table class="responstable">
        <thead>
            <tr class="text-center">

                <th>Date</th>
                <th>Time</th>
                <th>Employee/Slot #</th>
                <th>Cancel</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01/21/2018</td>
                <td>2:00 PM</td>
                <td>Eric Johnson</td>
                <td>
                    <button class="ui inverted red labeled icon button">
                        <i class="ban icon"></i>
                        Cancel
                    </button>
                </td>
                <td>
                    <button class="ui inverted green labeled icon button">
                        <i class="edit icon"></i>
                        Edit
                    </button>
                </td>
            </tr>
            <tr>
                <td>01/21/2018</td>
                <td>2:00 PM</td>
                <td>Eric Johnson</td>
                <td>
                    <button class="ui inverted red labeled icon button">
                        <i class="ban icon"></i>
                        Cancel
                    </button>
                </td>
                <td>
                    <button class="ui inverted green labeled icon button">
                        <i class="edit icon"></i>
                        Edit
                    </button>
                </td>
            </tr>
            <tr>
                <td>01/21/2018</td>
                <td>2:00 PM</td>
                <td>Eric Johnson</td>
                <td>
                    <button class="ui inverted red labeled icon button">
                        <i class="ban icon"></i>
                        Cancel
                    </button>
                </td>
                <td>
                    <button class="ui inverted green labeled icon button">
                        <i class="edit icon"></i>
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <br /><br /><br />

    <br /><br /><br />

    <br /><br /><br />

</div>
 