<div  id="AdminPortal"  ></div>
<br />
<br />
<br />
<br />
<div style="padding-left:30px; padding-right:30px; overflow:hidden">
  
 
 
    <legend class="lgFont"><i class="fa fa-lg fa-file-text" aria-hidden="true"></i>  Customer Form</legend>


         <div class="col-xs-12 mdFont" style="line-height:35pt;">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    <input type="text"  tabindex="1" class="form-control" placeholder="Customer Name" value="">
                </div>
             </div>
             <div class="col-xs-12 col-sm-4">
                 <div class="form-group">
                     <input type="text" tabindex="1" class="form-control" placeholder="Customer Address" value="">
                 </div>
             </div>
             <div class="col-xs-12 col-sm-4">
                 <div class="form-group">
                     <select tabindex="1" class="form-control" >
                         <option>Barbera's</option>
                         <option>Monte's Auto</option>
                         <option>Cars Wonderland</option>
                     </select>
                 </div>
             </div>
             <div class="col-xs-12 col-sm-4">
                 <div class="form-group">
                     <input type="text" tabindex="1" class="form-control" placeholder="Car of interest" value="">
                 </div>
             </div>
             <div class="col-xs-12 col-sm-4">
                 <div class="form-group">
                     <input type="date" tabindex="1" class="form-control" placeholder="Meeting date" value="">
                 </div>
             </div>
             <div class="col-xs-12 col-sm-4">
                 <div class="form-group">
                     <input type="text" tabindex="1" class="form-control" placeholder="Meeting time" value="">
                 </div>
             </div>
             
             <div class="col-xs-12">
                 <br /><br />
             </div>
         </div>
 


    <legend class="lgFont"><i class="fa fa-lg fa-user" aria-hidden="true"></i>  Your Customers</legend>

    <table class="responstable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Customer Name</th>
                <th>Dealership</th>
                <th>Meeting time</th>
                <th>Car</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01/21/2018</td>
                <td>Eric Johnson</td>
                <td>Barbera's</td>
                <td>01/24/2018 2:00 PM</td>
                <td>Chevy Impala</td>
            </tr>
            <tr>
                <td>01/21/2018</td>
                <td>Beth Jakob</td>
                <td>Monte's Auto</td>
                <td>01/24/2018 2:00 PM</td>
                <td>Rav 4</td>
            </tr>
            <tr>
                <td>01/21/2018</td>
                <td>Toby Ronny</td>
                <td>Cars Wonderland</td>
                <td>01/24/2018 2:00 PM</td>
                <td>Dodge Charger</td>
            </tr>
        </tbody>
    </table>
    <br /><br /><br />

    <br /><br /><br />

    <br /><br /><br />

</div>
 