
<div id="Contact"  style="padding-left:30px; padding-right:30px">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <legend class="lgFont"><i class="fa fa-lg fa-users" aria-hidden="true" ></i> Our Team</legend>
 

    <div class="ui six stackable cards">
        <div class="card">
            <div class="image ">
                <img src="https://www.corpsteam.com/images/default-source/corporate-team/allison_okelly.tmb-0.jpg?sfvrsn=ddd89b86_1">
            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                </center>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://www.corpsteam.com/images/default-source/corporate-team/lynn-danen.tmb-0.jpg?sfvrsn=af87c305_1">
            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                </center>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://www.corpsteam.com/images/default-source/corporate-team/rachel_warren.tmb-0.jpg?sfvrsn=53d559d8_2">

            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                </center>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://www.corpsteam.com/images/default-source/corporate-team/Trista_Wearing.tmb-0.jpg?sfvrsn=9ba06404_2">


            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                </center>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://www.corpsteam.com/images/default-source/corporate-team/brigid-lipps.tmb-0.jpg?sfvrsn=6a9760d4_1">

            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                    </center>
</div>
        </div>
        <div class="card">
            <div class="image">
                <img src="https://www.corpsteam.com/images/default-source/corporate-team/karen-fox-director-business-development-corps-team-dallas.tmb-0.png?sfvrsn=9e6351fd_2">


            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                </center>
            </div>
        </div>
    </div>


 </div> 


<style>
    .iconSize{
        font-size:2em !important;
    }
</style>