
<div id="Contact"  style="padding-left:30px; padding-right:30px">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <legend class="lgFont"><i class="fa fa-lg fa-users" aria-hidden="true" ></i> Our Team</legend>
 

    <div class="ui six  doubling cards">
        <div class="card"  ng-repeat="person in  $root.pageModel.homePage.team">
            <div class="image ">
                <img ng-src="{{person.imgURL}}">
            </div>
            <div class="content">
                <p class="header">{{person.name}}</p>
                <div class="meta">
                 </div>
                <div class="description">
                    {{person.about}} 
               </div>
            </div>
            <div class="extra content">
                <center>
                    <a ng-show="person.facebook.length>0" href="{{person.facebook}}">
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a ng-show="person.twitter.length>0" href="{{person.twitter}}">
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a ng-show="person.instagram.length>0" href="{{person.instagram}}">
                        <i class="instagram icon iconSize"></i>
                    </a>
                </center>
            </div>
        </div>
     </div>


 </div> 


<style>
    .iconSize{
        font-size:2em !important;
    }
</style>