
<div id="Contact"  style="padding-left:30px; padding-right:30px">
    <br />
    <br />
    <br />
    <br />
    <legend class="lgFont"><i class="fa fa-lg fa-users" aria-hidden="true" ></i> Our Team</legend>
 

    <div class="ui six stackable cards">
        <div class="card">
            <div class="image ">
                <img src="/images/elliot.jpg">
            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                </center>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/images/helen.jpg">
            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                </center>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/images/elliot.jpg">

            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                </center>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/images/helen.jpg">


            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                </center>
            </div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/images/elliot.jpg">

            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                    </center>
</div>
        </div>
        <div class="card">
            <div class="image">
                <img src="/images/helen.jpg">


            </div>
            <div class="content">
                <p class="header">Stevie Feliciano</p>
                <div class="meta">
                    <span class="date">Joined in 2014</span>
                </div>
                <div class="description">
                    Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
                </div>
            </div>
            <div class="extra content">
                <center>
                    <a>
                        <i class="facebook square icon iconSize"></i>
                    </a>
                    <a>
                        <i class="twitter square icon iconSize"></i>
                    </a>

                    <a>
                        <i class="instagram icon iconSize"></i>
                    </a>
                </center>
            </div>
        </div>
    </div>


 </div> 


<style>
    .iconSize{
        font-size:2em !important;
    }
</style>