<div  id="DealerPortal"  ></div>
<br />
<br />
<br />
<br />
<div style="padding-left:30px; padding-right:30px; overflow:hidden">
    <!--https://cdn-user.dealerrater.com/uimages/5649/main-5649-95c3b8782ce0_large.jpg-->
<img class="imgheader" src="https://pictures.dealer.com/b/barberasautolandcllc/1861/cc85e5a4b0a488955629aa8a7700fe0fx.jpg?impolicy=resize&h=514"/> 
    <br /><br /><br />

   <p class="mdFont" style="background-color:#F1F1F1; padding:4px;">
        Welcome Barbera, <br />
        Below you can view your account information and customers.
    </p>
  
    <br /><br /><br />

    <legend class="lgFont"><i class="fa fa-lg fa-address-card-o" aria-hidden="true"></i>  My Information</legend>


         <div class="col-xs-12 mdFont" style="line-height:35pt;">
            <div class="col-xs-12 col-sm-6">
                Username: Barbera <a href="#" class="smFont">(edit)</a>
            </div>
            <div class="col-xs-12 col-sm-6">
                Store Name: Barbera Autoland <a href="#" class="smFont">(edit)</a>

            </div>
             <div class="col-xs-12 col-sm-6">
                 Phone No: 267-456-9879 <a href="#" class="smFont">(edit)</a>

             </div>
               <div class="col-xs-12 col-sm-6">
                Address: 1234 Cottman Ave Phila PA 19111 <a href="#" class="smFont">(edit)</a>

            </div>
          
            <div class="col-xs-12 col-sm-6">
                Password: ********* <a href="#" class="smFont">(edit)</a>

            </div>
             
             <div class="col-xs-12">
                 <br /><br />
             </div>
         </div>
 


    <legend class="lgFont"><i class="fa fa-lg fa-user" aria-hidden="true"></i>  My Customers</legend>

    <table class="responstable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Customer Name</th>
                <th>Dealership</th>
                <th>Meeting time</th>
                <th>Car</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01/21/2018</td>
                <td>Eric Johnson</td>
                <td>Barbera's</td>
                <td>01/24/2018 2:00 PM</td>
                <td>Chevy Impala</td>
            </tr>
            <tr>
                <td>01/21/2018</td>
                <td>Eric Johnson</td>
                <td>Barbera's</td>
                <td>01/24/2018 2:00 PM</td>
                <td>Chevy Impala</td>
            </tr>
            <tr>
                <td>01/21/2018</td>
                <td>Eric Johnson</td>
                <td>Barbera's</td>
                <td>01/24/2018 2:00 PM</td>
                <td>Chevy Impala</td>
            </tr>
        </tbody>
    </table>
    <br /><br /><br />

    <br /><br /><br />

    <br /><br /><br />

</div>
 