<div id="navbar">
    <div class="row">
        <a ng-click="$root.tabSelected = 1"  href="#Landing"> 
            <div class="col-xs-2 text-center navLink ">
                <span class="mdFont"><i class="fa fa-lg fa-paint-brush" aria-hidden="true"></i> MM Salon</span> 
            </div>
        </a>

        <a ng-click="$root.tabSelected = 1"  href="#About">
            <div class="col-xs-2 text-center navLink mdFont">
                <p><i class="fa fa-info-circle" aria-hidden="true" style="border-right:none;"></i> About Us</p>
            </div>
        </a>
        <a ng-click="$root.tabSelected = 1" href="#Contact">
            <div class="col-xs-2 text-center navLink mdFont">
                <p><i class="fa fa-users" aria-hidden="true"></i> Our Team</p>
            </div>
        </a>
        <a ng-click="$root.tabSelected = 1"  href="#Gallery">
            <div class="col-xs-2 text-center navLink mdFont">
                <p><i class="fa fa-picture-o" aria-hidden="true"></i> Gallery</p>
            </div>
        </a>
        <a ng-click="$root.tabSelected = 2" href="#DealerLogin" >
            <div class="col-xs-4 text-center navLink mdFont">
                <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Schedule Appointment</p>
            </div>
        </a>
      
    </div>
</div>

<div id="mobileNavbar">
    <div>
        <span style="color:white;"  class="xlFont">
            <i class="fa fa-lg fa-paint-brush" aria-hidden="true"></i> MM Salon
        </span>
         <span>
            <button id="navToggle" class="collapsed" data-toggle="collapse" data-target="#navbarTabs">
                <center>
                    <div>
                        <div class="navbarbar"></div>
                        <div class="navbarbar"></div>
                        <div class="navbarbar"></div>
                    </div>
                </center>
            </button>
        </span>

    </div>
    <div id="navbarTabs" class="collapse text-center">
        <div class="row">

            <a ng-click="$root.tabSelected = 1" href="#About" data-toggle="collapse" data-target="#navbarTabs">
                <div class="col-xs-12 navbarTab mediumFont">
                    <span  ><i class="fa fa-info-circle" aria-hidden="true"></i> About Us</span>
                </div>
            </a>

            <a ng-click="$root.tabSelected = 1" href="#Contact"  data-toggle="collapse" data-target="#navbarTabs">
                <div class="col-xs-12 navbarTab mediumFont">
                    <span  ><i class="fa fa-users" aria-hidden="true"></i> Our Team</span>
                </div>
            </a>
            
            <a ng-click="$root.tabSelected = 1" href="#Gallery"  data-toggle="collapse" data-target="#navbarTabs">
                <div class="col-xs-12 navbarTab mediumFont">
                    <span><i class="fa fa-picture-o" aria-hidden="true"></i> Gallery</span>
                </div>
            </a>

            <a ng-click="$root.tabSelected = 3" href="#DealerLogin"  data-toggle="collapse" data-target="#navbarTabs">
                <div class="col-xs-12 navbarTab mediumFont">
                    <span><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Schedule Appointment</span>
                </div>
            </a>
        </div>
        <div class="row"><br /></div>
    </div>
</div>
 