<br />
<br />
<br />
<br />

<script id="customMonthCell.html" type="text/ng-template">
    <div class="cal-month-day {{day.cssClass}}">

        <span class="pull-right"
              data-cal-date
              ng-bind="day.label">
        </span>

  
    </div>

</script>

<style>
    .pull-right {
        pointer-events: none;
    }

    .custom-template-cell {
        background-color: dodgerblue;
    }
</style>
<div style="padding-left:30px; padding-right:30px; overflow:hidden">
    <br />
    <br />
    <h2 class="text-center">{{ calendarTitle }}</h2>
    <button class="btn btn-primary"
            mwl-date-modifier
            date="viewDate"
            decrement="calendarView"
           >
        Previous
    </button>

    <button class="btn btn-default"
            mwl-date-modifier
            date="viewDate"
            set-to-today>
        Today
    </button>

    <button class="btn btn-primary"
            mwl-date-modifier
            date="viewDate"
            increment="calendarView">
        Next
    </button>
    <mwl-calendar view="calendarView"
                  view-date="viewDate"
                  events="events"
                  view-title="calendarTitle"
                  cell-is-open="true"
                   on-timespan-click="timespanClicked(calendarDate)"
                  custom-template-urls="{calendarMonthCell: 'customMonthCell.html'}"
                  cell-modifier="cellModifier(calendarCell)">
                  >
    </mwl-calendar>
    <br />
    <br />
    <br/>
    </div>



<div id="owModal" class="ui schedule large modal">
    <div class="header">
        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>  Schedule Appointment
    </div>
    <div class="content">
        <div ng-show="!$root.isLoggedIn">
            <center>
                <h3>You must be logged in to schedule appointment</h3>
                <div class="ui blue button" ng-click="GoToLogin()">
                    Login
                </div>
            </center>
        </div>
        <div ng-show="$root.isLoggedIn">

            <div class="ui four column centered grid">
                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                    <h3>Date Selected</h3>
                    <div class="ui large input left icon">
                        <span class="mdFont">{{dateSelected}}</span>
                    </div>
                </div>
                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                    <h3>Select Time</h3>

                    <select ng-model="timeSelected" placeholder="Set Time" style="border-radius: 6px;font-size: 16pt;">
                        <option ng-repeat="time in ddlTime" value="{{time}}">{{time}}</option>
                    </select>


                    <!--<div class="ui scrolling dropdown">
                    <input type="hidden" id="timeSelected">
                    <div class="default text" >Select Time</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" </div>
                    </div>
                </div>-->
                </div>
                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                    <center>
                        <h3>Avaliable Seats</h3>

                        <div class="ui button disabled">
                            5
                        </div>
                    </center>
                </div>
                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                    <h3>Review and confirm</h3>
                    <div class="ui two column grid">
                        <div class="row">
                            <div class="column">Date</div>
                            <div class="column">{{dateSelected}} </div>
                        </div>
                        <div class="row">
                            <div class="column">Time</div>
                            <div class="column">{{timeSelected}}</div>
                        </div>
                        <div class="row">
                            <h4>Add a note (Optional)</h4>
                            <textarea style="width:100%;height:50px;overflow:hidden;border-radius:6px;" ng-model="note"></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="actions" ng-show="$root.isLoggedIn">
        <div class="ui black deny button" >
            Cancel
        </div>
        <div class="ui positive right labeled icon button" ng-click="ScheduleAppointment()"  ng-class="{'disabled':disableSchedule}">
           Schedule
            <i class="add to calendar  icon"></i>
        </div>
    </div>
</div>
