<br />
<br />
<br />
<br />

<script id="customMonthCell.html" type="text/ng-template">
    <div class="cal-month-day {{day.cssClass}}">

        <span class="pull-right"
              data-cal-date
              ng-bind="day.label">
        </span>

    </div>

</script>

<style>
    .pull-right {
        pointer-events: none;
    }

    .custom-template-cell {
        background-color: dodgerblue;
    }
</style>
<div style="padding-left:30px; padding-right:30px; overflow:hidden">
    <h2 class="text-center">{{ calendarTitle }}</h2>
    <center>
        <button class="btn btn-primary"
                mwl-date-modifier
                date="viewDate"
                decrement="calendarView">
            Previous
        </button>

        <button class="btn btn-default"
                mwl-date-modifier
                date="viewDate"
                set-to-today>
            Today
        </button>

        <button class="btn btn-primary"
                mwl-date-modifier
                date="viewDate"
                increment="calendarView">
            Next
        </button>
    </center>
    <br />
    <br/>
    <mwl-calendar view="calendarView"
                  view-date="viewDate"
                  events="events"
                  view-title="calendarTitle"
                  cell-is-open="true"
                   on-timespan-click="timespanClicked(calendarDate)"
                  custom-template-urls="{calendarMonthCell: 'customMonthCell.html'}"
                  cell-modifier="cellModifier(calendarCell)">
                  >
    </mwl-calendar>
    <br />
    <br />
    <br/>
    </div>



<div id="owModal" class="ui schedule large modal">
    <div class="header">
        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>  Schedule Appointment <span class="mdFont">{{dateSelected}}</span>
    </div>
    <div class="content" ng-class="{'ExtraHeight': pastDate || closedDay }">
        <div ng-show="$root.isLoggedIn && closedDay">
            <center>
                <h3>Sorry, No Appointments avaliable for this day</h3>
            </center>
        </div>
        <div ng-show="$root.isLoggedIn && pastDate">
            <center>
                <h3>Date selected is in the past</h3>
            </center>
        </div>
        <div ng-show="!$root.isLoggedIn">
            <center>
                <h3>You must be logged in to schedule appointment</h3>
                <div class="ui blue button" ng-click="GoToLogin()">
                    Login
                </div>
            </center>
        </div>
        <div ng-show="$root.isLoggedIn && !pastDate && !closedDay">

            <div class="ui relaxed grid">
                <div  class="sixteen wide mobile eight wide tablet ten wide computer column"> 

                    <div style="height:300px;overflow-y:auto;">
                        <table class="responstable">
                            <thead>
                                <tr class="text-center">
                                    <th>Time</th>
                                    <th>Seats</th>
                                    <th>Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="times in timesAvaliable">
                                    <td>{{times.time}}</td>
                                    <td ng-show="times.seats > 0">{{times.seats}}</td>
                                    <td ng-show="times.seats == 0"><span class="smFont">BOOKED</span></td>
                                    <td>
                                        <button class="ui inverted blue labeled icon button" ng-click="SelectTimeSlot(times)">
                                            <i class="hand pointer icon"></i>
                                            Select
                                        </button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="two wide computer column">

                </div>
                <div class="sixteen wide mobile eight wide tablet four wide computer column">
                    <h3>Review and confirm</h3>
                    <div class="ui two column grid">
                        <div class="row">
                            <div class="column">Date</div>
                            <div class="column">{{dateSelected}} </div>
                        </div>
                        <div class="row">
                            <div class="column">Time</div>
                            <div class="column">{{timeSelected}}</div>
                        </div>
                        <div class="row">
                            <h4>Add a note (Optional)</h4>
                            <textarea style="width:100%;height:50px;overflow:hidden;border-radius:6px;" ng-model="note"></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="actions" ng-show="$root.isLoggedIn && !pastDate">
        <div class="ui black deny button" >
            Cancel
        </div>
        <div class="ui positive right labeled icon button" ng-click="ScheduleAppointment()"  ng-class="{'disabled':disableSchedule}">
           Schedule
            <i class="add to calendar  icon"></i>
        </div>
    </div>
</div>
