<br />
<br />
<br />
<br/>
<br />
<div id="userAppts" style="padding-left:10px; padding-right:10px;">
    <legend class="lgFont"><i class="fas fa-lg fa-calendar-check"></i> My Appointments</legend>
    
    <table class="responstable smFont">
        <thead>
            <tr class="text-center">
                <th style="width:50px">Scheduled date & times</th>
                <th style="width:100px">Note</th>
                <th style="width:100px">Cancel</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="appt in userAppointments">
                
                <td>
                    {{appt.scheduledate.split(" ")[0]}}
                <br/>
                {{appt.scheduledate.split(" ")[1] +' ' +appt.scheduledate.split(" ")[2] }}
                </td>
                <td>{{appt.note}}</td>
                <td>
                    <button class="ui inverted red labeled icon button" ng-click="CancelApptModal(appt)">
                        <i class="ban icon"></i>
                        Cancel
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
<center ng-show="userAppointments.length == 0">
        <h3 >No appointments to show</h3>
        
            <button ng-click="GoToScheduler()"  href="#ScheduleAppointment" class="ui inverted blue labeled icon button">
                <i class="add to calendar icon"></i>
                Make an appointment
            </button>
    </center> 
    <br /><br /><br />
    <br /><br /><br />
    <br /><br /><br />

    <div id="owModal" class="ui cancelAppt modal">
        <div class="header">
            Cancel Appointment
        </div>
        <div class="content">
            <span class="mdFont">Are you sure you want to cancel your appointment on {{appttime}}?</span>
            <br /><br />
        </div>

        <div class="actions">
            <div class="ui black deny button">
                Nevermind
            </div>
            <div class="ui red right labeled icon button" ng-click="CancelAppt()">
                Cancel
                <i class="ban icon"></i>
            </div>
        </div>
    </div>


</div>