<div id="Gallery"></div>
    <br />
    <br />
    <br />
    <br />
    <div style="padding-left:30px; padding-right:30px; overflow:hidden">
        <br />
        <legend class="lgFont"><i class="fa fa-lg fa-picture-o" aria-hidden="true"></i>  Work Gallery</legend>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="{{$index}}"  ng-repeat="item in AllItems track by $index" ng-class="{'active': $index == 0}"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item" ng-repeat="item in AllItems track by $index" ng-class="{'active': $index == 0}">
                    <div class="ui four doubling cards" >
                        <a  ng-repeat="pics in item  track by $index" class="blue card" ng-click="showModal({{pics}})">
                            <div class="image">
                                <img src="{{pics}}">
                            </div>
                        </a>
                    </div>
                </div>
                 
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width: 10px;">
                <i class="chevron circle left icon slideArrow"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width: 40px;">
                <i class="chevron circle right icon slideArrow"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>

      
   
        

        <div class="ui basic modal">
            <center>
            <img src="{{src}}" class="modalImg" />
            </center>
        </div>
</div>

<style>
  

</style>