<div id="Gallery" class="backColor">
    <br />
    <br />
    <br />
    <br />
    </div> 
    <div style="padding-left:30px; padding-right:30px; overflow:hidden"  class="backColor">
        <br />
        <legend class="lgFont"><i class="fa fa-lg fa-picture-o" aria-hidden="true"></i>  Work Gallery</legend>

        <div class="slider img" id="workGallery">
            <div style="height:auto;" class="slide slide-animation nonDraggableImage" ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()" ng-repeat="item in AllItems track by $index" ng-hide="!isCurrentSlideIndex($index)">
                <div class="ui four doubling cards">
                    <a ng-repeat="pics in item  track by $index" class="blue card" ng-click="showModal(pics)">
                        <div class="image">
                            <img ng-src="{{pics}}" class="myImgHeight">
                        </div>
                    </a>
                </div>
            </div>
             

            <p ng-click="nextSlide()" class="leftSwipers   arrow prev"><span>‹</span><span>‹</span><span>‹</span></p>
            <p id="goRight" ng-click="prevSlide()" class="rightSwipers arrow next"><span>›</span><span>›</span><span>›</span></p>
                <nav class="nav">
                    <div class="wrapper">
                        <ul class="dots">
                            <li class="dot" ng-repeat="item in AllItems track by $index">
                                <a style="cursor:pointer" ng-class="{'active':isCurrentSlideIndex($index)}"
                                   ng-click="setCurrentSlideIndex($index);"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
           
       </div>
           
        <div class="ui imgModal modal">
            <i class="close icon"></i>
            <center>
            <img ng-src="{{src}}" class="modalImg" />
            </center>
        </div>
</div>

<style>
  

</style>