.flowerbanner {
  height: 150px;
  background-image: url('/images/banner.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#body1 {
  margin-top: 2%;
  padding-bottom: 15px;
}
#aboutUsPara {
  padding: 15px;
  margin-left: 5%;
  margin-right: 5%;
}
.imgCat {
  width: 150px;
  height: 150px;
}
.toolTip {
  text-decoration: underline;
  padding: 30px;
  background: -webkit-linear-gradient(to bottom, rgba(20, 139, 225, 0.9), rgba(20, 139, 225, 0.9));
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, rgba(20, 139, 225, 0.9), rgba(20, 139, 225, 0.9));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 100% 0%;
  transition: background-size 0.25s, color 0.25s;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
}
.showTooltip:hover .toolTip,
.showTooltip:hover .toolTip h2 {
  background-size: 100% 100%;
  display: block;
}
.toolTip h2 {
  display: none;
}