@import "../../css/MyCss";

    .title.navabar.active{
        background-color:dodgerblue !important;
    }
    .title.navabar.active legend{
        color:white !important;

    }
    .carousel-inner .image, .homePageSlide .image {
        min-height:350px;
        max-height:350px;
        overflow:hidden;
    }
    .ui.basic.modal{
    top: 10px !important;
margin-top: 0 !important;
}

      .slideArrow{
       font-size:2em !important;
       margin-top:150px !important;
    }
 
      #owModal{
          margin-top:0 !important;
          top:100px !important
      }
@media(max-width: 992px){

        .carousel-inner .image {
        min-height:150px;
        max-height:150px;
    }
}

 