@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
div#slider {
  overflow: hidden;
}
div#slider figure img {
  width: 20%;
  float: left;
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite;
}
.slider {
  width: 100%;
  height: 100vh;
  max-height: 800px;
  overflow: hidden;
  position: relative;
  background: #e6e6e6;
  border: 20px solid #FFF;
  margin-top: 20px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
}
.arrow {
  position: absolute;
  z-index: 1002;
  display: block;
  top: 50%;
  margin-top: -35px;
  width: 36px;
  height: 71px;
  outline: none;
  cursor: pointer;
}
.arrow.prev {
  opacity: 0.2;
  left: 20px;
  transition: 0.2s linear all;
}
.arrow.next {
  opacity: 0.2;
  right: 20px;
  transition: 0.2s linear all;
}
.arrow.prev:hover {
  opacity: 1;
}
.arrow.next:hover {
  opacity: 1;
}
/*---------------------------------------------------------
NAV
---------------------------------------------------------*/
.nav {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 1002;
  left: 0;
  bottom: -4px;
  right: 0;
  height: 48px;
}
.nonDraggableImage {
  -webkit-user-drag: none;
}
.nav .wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 1em 0 .8em;
}
.nav ul {
  margin: 0;
  width: 100%;
}
.nav .dot,
.nav .dot a {
  display: inline-block;
  zoom: 1;
}
.dots .dot {
  position: relative;
  margin: 0 8px;
  width: 12px;
  height: 12px;
}
.dots .dot a {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: #148BE1;
  border: 1px solid transparent;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s, border-color 0.25s;
  -moz-transition: background-color 0.25s, border-color 0.25s;
  transition: background-color 0.25s, border-color 0.25s;
}
.dots .dot a.active {
  border-color: #148BE1;
  background-color: transparent;
}