<!DOCTYPE html>
<html>
<head>
    <title>MM Salon</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/gFont.css" rel="stylesheet" />
    <link href="/css/MyCss.min.css" rel="stylesheet" />
    <link href="/css/lessVars.min.css" rel="stylesheet" />
    <script src="/js/jQuery.js"></script>
    <script src="/js/less.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/fontAwesome.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="/js/parallex.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>

    <script src="/js/angular.js"></script>
    <script src="/js/sanatize.js"></script>

    <script src="/mainCtrl.js"></script>

    <!--Directives-->
    <script src="/directives/partialsCtrl/_navbarCtrl.js"></script>
    <script src="directives/partialsCtrl/_landingCtrl.js"></script>
    <script src="directives/partialsCtrl/_aboutCtrl.js"></script>
    <script src="directives/partialsCtrl/_contactCtrl.js"></script>
    <script src="directives/partialsCtrl/_dealerLoginCtrl.js"></script>
    <script src="directives/partialsCtrl/_userLoginCtrl.js"></script>
    <script src="directives/partialsCtrl/_accountPageCtrl.js"></script>
    <script src="directives/partialsCtrl/_adminPortalCtrl.js"></script>
    <script src="directives/partialsCtrl/_workGalleryCtrl.js"></script>
    <script src="directives/partialsCtrl/_schedulerCtrl.js"></script>
    <script src="directives/partialsCtrl/_userAppointmentsCtrl.js"></script>
    <!--Directive's Styles-->
    <link href="/directives/partialsCss/_navbarCss.min.css" rel="stylesheet" />
    <link href="directives/partialsCss/_landingCss.min.css" rel="stylesheet" />
    <link href="directives/partialsCss/_aboutCss.min.css" rel="stylesheet" />
    <link href="directives/partialsCss/_contactCss.min.css" rel="stylesheet" />
    <link href="directives/partialsCss/_dealerLoginCss.min.css" rel="stylesheet" />
    <link href="directives/partialsCss/_userLoginCss.min.css" rel="stylesheet" />
    <link href="directives/partialsCss/_accountPage.min.css" rel="stylesheet" />
    <link href="directives/partialsCss/_adminPortalCss .min.css" rel="stylesheet" />
    <link href="directives/partialsCss/_workgalleryCSS.min.css" rel="stylesheet" />
    <link href="directives/partialsCss/_schedulerCss.min.css" rel="stylesheet" />
    <link href="directives/partialsCss/_userLoginCss.min.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('.ui.coupled.modal').modal({ detachable: false }, { onDeny: function () { $('.ui.review.modal').modal('hide'); } }, { blurring: true }, { allowMultiple: true });


            $('.ui.heart.display.rating').rating('disable');
            $('.submitRating').rating('enable');

            $('#fab.icon').popup(
            {
                popup: $('.flowing.popup'),
                on: 'click',
                position:'left center',
                lastResort: 'left center'
            });

            var scroll = $(window).scrollTop();
            if (scroll >= top) {

                $('.share ').show("200");
                $('.share ').addClass("animated bounceInRight");

                $('#fabReviews').show("200");
                $('#fabReviews').addClass("animated bounceInRight");
            } else {
                $('.share ').removeClass("animated bounceInRight");
                $('.share ').hide("200");

                $('#fabReviews ').removeClass("animated bounceInRight");
                $('#fabReviews ').hide("200");
            }

            $(window).scroll(function (event) {
                var scroll = $(window).scrollTop();
                var el = document.getElementById("About");
                if (el != null) {
                    var viewportOffset = el.getBoundingClientRect();
                    var top = viewportOffset.top;

                    if(scroll + $(window).height() > $(document).height() - 50 && $(window).width() < 992 ) {
                        $('.share ').removeClass("animated bounceInRight");
                        $('.share ').hide("200");
                        $('#fabReviews ').removeClass("animated bounceInRight");
                        $('#fabReviews ').hide("200");
                    } else if (scroll >= top) {
                        $('.share ').show("200");
                        $('.share ').addClass("animated bounceInRight");

                        $('#fabReviews').show("200");
                        $('#fabReviews').addClass("animated bounceInRight");
                    }
                    else {
                        $('.share ').removeClass("animated bounceInRight");
                        $('.share ').hide("200");
                        $('#fabReviews ').removeClass("animated bounceInRight");
                        $('#fabReviews ').hide("200");
                    }


                }
                else {
                    $('.share ').show("200");
                    $('.share ').addClass("animated bounceInRight");
                    $('#fabReviews').show("200");
                    $('#fabReviews').addClass("animated bounceInRight");

                }

            });

        });
    </script>
</head>
<body ng-app="myApp">
    <div id="appBody" ng-cloak>
        <div id="topHeader"></div>
        <navbar></navbar>
        <div id="pageView">

        </div>
        <center>
            <div id="snackbar"></div>
        </center>

        <div class="loaderBg" ng-show="$root.isLoading">
            <img src="images/load.gif" />
        </div>

    </div>
    <br /><br />

    <div id="footer" ng-cloak>
        <div class="footerBody">
            <div class="row">
                <div class="col-xs-12 col-sm-3 footerImg"></div>
                <div class="col-xs-12 col-sm-9">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <legend class="smFont"><i class="fa fa-lg fa-paint-brush" aria-hidden="true"></i> <b>MM Salon 2018 ©</b></legend>
                            <p class="smFont col-xs-6 col-sm-12"><i class="fa fa-phone-square" aria-hidden="true"></i> {{$root.pageModel.homePage.number}}</p>
                            <p class="smFont col-xs-6 col-sm-12"><i class="fa fa-envelope" aria-hidden="true"></i> {{$root.pageModel.homePage.email}}</p>
                            <p class="smFont col-xs-12"><i class="fas fa-building" aria-hidden="true"></i> {{$root.pageModel.homePage.address}}</p>

                        </div>
                        <div class="col-xs-12 col-sm-8">
                            <p class="smFont col-xs-12 col-sm-6 "> <i class="fas fa-clock"></i> <b><u>Store Hours</u></b></p>
                            <p class="smFont col-xs-6" ng-repeat="hours in $root.pageModel.homePage.hours">
                                {{$root.daysOfWeek[$index]}}
                                {{hours.open}} - {{hours.close}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <i id="fabReviews" class="heart huge  circle icon" onclick="$('.ui.review.longer.modal').modal('show');"></i>

            <i id="fab" class="share alternate huge  circle icon"></i>
            <div id="flowingPopup" class="ui flowing popup">

                <a href="{{$root.pageModel.homePage.twitterLink}}" target="_blank"> <i class="fab fa-twitter-square fa-lg" aria-hidden="true"></i></a> <br />
                <a href="{{$root.pageModel.homePage.fbLink}}" target="_blank">    <i class="fab fa-facebook-square fa-lg" aria-hidden="true"></i></a> <br />
                <a href="{{$root.pageModel.homePage.twitterLink}}" target="_blank">   <i class="fab fa-youtube-square fa-lg" aria-hidden="true"> </i> </a> <br />
                <a href="{{$root.pageModel.homePage.instaLink}}" target="_blank">   <i class="fab fa-instagram fa-lg" aria-hidden="true"></i> </a> <br />

            </div>
        </div>
    </div>


    <div class="ui review coupled longer modal">
        <div class="header">
            Site Reviews <i class="heart icon"></i>
        </div>
        <div class="scrolling  content">
            <div class="ui feed">
                <div class="event" ng-repeat="rev in $root.pageModel.reviews" style="border-bottom:1px solid rgba(34,36,38,.15);">
                    <div>
                        <div class="ui heart display rating" data-rating="5" data-max-rating="5"></div>
                        <img class="ui avatar image" ng-src="{{'/images/'+rev.userID+ '.jpg'}}">
                    </div>
                    <div class="content">
                        <div class="summary">
                            {{rev.name}}
                            
                            <div class="date">
                                {{rev.date}}
                            </div>
                        </div>
                        <div class="extra text">
                            {{rev.review}}
                        </div>
                    </div>
                   
                </div>

            </div>
        </div>

        <div class="actions">
            <div class="ui black deny button">
                Close
            </div>



            <div class="ui green right labeled icon button" onclick="$('.submitRev.modal').modal('show');">
                Submit a review
                <i class="write icon"></i>
            </div>
        </div>
    </div>

    <div class="ui submitRev coupled modal">
        <div class="header">
            Submit Review <i class="write icon"></i>
        </div>
        <div class="content">

            <div ng-show="!$root.isLoggedIn">
                <center>
                    <span class="smFont">You must be logged in to submit a review</span>
                    <br />
                    <div class="ui blue button" ng-click="$root.GoToLogin()">
                        Login
                    </div>
                </center>
            </div>
            <div ng-show="$root.isLoggedIn">
                <span class="smFont" style="margin-left: 85px;">Review:</span><br />

                <center>
                    <textarea style="width:80%;overflow:hidden;border-radius:6px;height:100px;font-size:12pt;" ng-model="txtReview"></textarea>
                </center>
                <div style="margin-left: 85px;">
                    <span class="smFont">Rating: </span> <div class="ui heart submitRating rating" data-rating="5" data-max-rating="5"></div>
                    <br />
                </div>
            </div>
        </div>

        <div class="actions" ng-show="$root.isLoggedIn">
            <div class="ui black deny button">
                Close
            </div>
            <div class="ui green right labeled icon button" ng-click="$root.SubmitReview(txtReview)">
                Submit
                <i class="write icon"></i>
            </div>
        </div>
    </div>


</body>
</html>
<script src="https://unpkg.com/moment@2.17.1"></script>
<script src="https://unpkg.com/interactjs@1"></script>
<script src="https://unpkg.com/angular@1.6.6/angular.js"></script>
<script src="https://unpkg.com/angular-animate@1.5.8/angular-animate.js"></script>
<script src="https://unpkg.com/angular-ui-bootstrap@2/dist/ui-bootstrap-tpls.js"></script>
<script src="https://unpkg.com/rrule@2"></script>
<script src="https://unpkg.com/angular-bootstrap-colorpicker@3"></script>
<script src="https://unpkg.com/angular-bootstrap-calendar"></script>
<link href="https://unpkg.com/angular-bootstrap-colorpicker@3/css/colorpicker.min.css" rel="stylesheet">
<link href="https://unpkg.com/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>