body {
  font-family: 'Times New Roman', Times, serif !important;
}
.btn-primary {
  background-color: #148BE1;
}
.btn {
  transition: all 0.1s ease-in;
}
.btn:hover {
  background-color: transparent;
  color: black;
}
.fab {
  border-radius: 50%;
  padding-top: 3px;
  height: 65px !important;
  width: 65px !important;
  padding-right: 5px;
  position: fixed;
  bottom: 50px;
  right: 10px;
  background: dodgerblue;
  cursor: pointer;
  transition: all 0.1ms ease-in;
}
.fab:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
#flowingPopup {
  position: fixed;
  top: auto !important;
  bottom: 33px !important;
  right: 70px !important;
  background: dodgerblue;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
#flowingPopup i:hover {
  font-size: 18pt;
}
.xsFont {
  font-size: 7pt;
}
.smFont {
  font-size: 12pt;
}
.mdFont {
  font-size: 17pt;
}
.lgFont {
  font-size: 22pt;
}
.xlFont {
  font-size: 27pt;
}
.showInMobile {
  display: none;
}
@media (max-width: 992px) {
  .xsFont {
    font-size: 5pt;
  }
  .smFont {
    font-size: 8pt;
  }
  .mdFont {
    font-size: 11pt;
  }
  .lgFont {
    font-size: 14pt;
  }
  .xlFont {
    font-size: 17pt;
  }
  #appBody {
    width: 100% !important;
    margin-left: 0;
  }
  #topHeader {
    height: 40px !important;
  }
  .footerImg {
    background-position: left;
  }
  .showInMobile {
    display: block;
  }
}
.ui.cards a.card:hover,
.ui.link.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover {
  z-index: 0;
}
.myImgHeight {
  height: 350px !important;
}
#footer {
  width: 100vw;
  background-color: #148BE1;
  overflow: hidden;
}
#footer legend {
  color: white;
}
#footer p {
  cursor: pointer;
  transition: all ease-in 0.2s;
}
#footer a {
  color: white;
  cursor: pointer;
}
#footer p:hover {
  color: #FF9307;
}
.footerBody {
  width: 100%;
  height: 140px;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.footerImg {
  height: 140px;
  background-image: url('../images/flower.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
#appBody {
  max-width: 1500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#topHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #148BE1;
  height: 80px;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden;
  /* Hidden by default. Visible on click */
  min-width: 350px;
  /* Set a default minimum width */
  max-width: 400px;
  background-color: #333;
  /* Black background color */
  color: #fff;
  /* White text color */
  text-align: center;
  /* Centered text */
  border-radius: 4px;
  /* Rounded borders */
  padding: 16px;
  /* Padding */
  position: fixed;
  /* Sit on top of the screen */
  z-index: 999999;
  /* Add a z-index if needed */
  bottom: 200px;
  /* 30px from the bottom */
  font-size: 12pt;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}
#snackbar div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible;
  /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.loaderBg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loaderBg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 200px;
  height: 200px;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 200px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 200px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 200px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 200px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.w100 {
  width: 100%;
}
/*<!--OVERWRITE-->*/
.carousel-indicators li {
  border-color: #148BE1 !important;
}
.carousel-indicators .active {
  background-color: #148BE1 !important;
}